In [1]:
import os
from alpha_vantage.timeseries import TimeSeries

API_KEY = os.getenv("alphavantage_apikey")

In [2]:
ts = TimeSeries(key=API_KEY,output_format='pandas')
print(type(ts))
ts

<class 'alpha_vantage.timeseries.TimeSeries'>

In [3]:
data, meta_data = ts.get_intraday('MSFT')

In [4]:
print(data.shape)
data.head()

(100, 5)

                      1. open  2. high   3. low  4. close  5. volume
date
2020-06-17 16:00:00  194.3400   194.88  193.800    194.21  1616277.0
2020-06-17 15:45:00  194.4200   194.91  194.100    194.31   822040.0
2020-06-17 15:30:00  194.9300   195.15  194.095    194.40   765074.0
2020-06-17 15:15:00  195.1545   195.29  194.760    194.91   641675.0
2020-06-17 15:00:00  195.8700   195.92  195.160    195.18   574181.0

In [5]:
meta_data

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
 '2. Symbol': 'MSFT',
 '3. Last Refreshed': '2020-06-17 16:00:00',
 '4. Interval': '15min',
 '5. Output Size': 'Compact',
 '6. Time Zone': 'US/Eastern'}